@font-face {
    font-family: 'GolosText';
    src: url('../serv-fonts/GolosText-Regular.woff2') format('woff2'),
        url('../serv-fonts/GolosText-Regular.woff') format('woff'),
        url('../serv-fonts/GolosText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GolosText';
    src: url('../serv-fonts/GolosText-Medium.woff2') format('woff2'),
        url('../serv-fonts/GolosText-Medium.woff') format('woff'),
        url('../serv-fonts/GolosText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GolosText';
    src: url('../serv-fonts/GolosText-SemiBold.woff2') format('woff2'),
        url('../serv-fonts/GolosText-SemiBold.woff') format('woff'),
        url('../serv-fonts/GolosText-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GolosText';
    src: url('../serv-fonts/GolosText-Bold.woff2') format('woff2'),
        url('../serv-fonts/GolosText-Bold.woff') format('woff'),
        url('../serv-fonts/GolosText-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GolosText';
    src: url('../serv-fonts/GolosText-ExtraBold.woff2') format('woff2'),
        url('../serv-fonts/GolosText-ExtraBold.woff') format('woff'),
        url('../serv-fonts/GolosText-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GolosText';
    src: url('../serv-fonts/GolosText-Black.woff2') format('woff2'),
        url('../serv-fonts/GolosText-Black.woff') format('woff'),
        url('../serv-fonts/GolosText-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-primary: 'GolosText', sans-serif;
    --color-body: #151515;
    --color-white: #ffffff;
    --color-sky: #A8DFFF;
    --color-orange: #FF5001;
    --color-transp: rgba(255, 255, 255, 0.03);
    --linear-header: linear-gradient(180deg, rgba(13,34,68,1) 0%, rgba(13,34,68,0.3) 50%, rgba(0,212,255,0) 100%);
    --linear-rnb: linear-gradient(98.51deg, #86FDD2 0%, #F4E987 33.3%, #F86675 66.6%, #AD69F0 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--color-body);
    font-family: var(--font-primary);
    color: var(--color-white);
    

    /* remove */
    /* background-image: url(../serv-images/bg-group.webp); */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}

body.bg-single {
    background-image: url(../serv-images/bg-group.webp), url(../serv-images/serv-single-body.webp);    
    background-position: top center, top 900px center;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 900px, 100%;
}

.bg-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: -10;
}

.bg-fixed img {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}


input, textarea {
    outline: 0;
}

input::placeholder, textarea::placeholder {
    color: #CACACA;
    opacity: 1;
}

input:focus::placeholder, textarea:focus::placeholder {
    opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type="number"] {
    -moz-appearance: textfield; 
}


button {
    border: none;
    cursor: pointer;
}

.color-sky {
    color: var(--color-sky);
}

.main {
    padding-top: 200px;
}

.text-center {
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1920px;
    padding: 0 110px;
    margin: 0 auto;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

h1.title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner-text {
    font-size: 36px;
    font-weight: 500;
}

.subtitle {
    font-family: 'GolosText';
    font-size: 48px;
    font-weight: 600;
    line-height: 100%;
    color: var(--color-white);
}


.logo-flex,
.header-phone {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-phone a {
    color: var(--color-white);
    text-decoration: none;
}

.breadcrumbs,
.breadcrumbs-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    text-decoration: none;
}

.breadcrumbs .breadcrumbs-link::before {
    content: '/';
    display: block;
}

.breadcrumbs .breadcrumbs-link:first-child::before {
    content: '//';
    display: block;
}

.services-main {
    overflow: hidden;
    position: relative;
}

.services-main-inner {
    position: relative;
    display: flex;
    padding: 230px 0 280px;
}

.absolute-binary {
    position: absolute;
    left: 0;
    top: 20px;
}
.services-main-text,
.services-sub-text {
    max-width: 32vw;
    width: 100%;
}

.services-sub-text {
    margin-left: -18px;
}
.services-siphone {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 40vw;
    z-index: -1;
}

.marquee-section {
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
    background-color: var(--color-transp);
    backdrop-filter: blur(62px);
}

.marquee-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    animation: marquee-anim 16s linear infinite;
}

.marquee-container .marquee-logo {
    width: 104px;
}

.marquee-text {
    color: transparent;
    -webkit-text-stroke: 0.5px var(--color-orange);
    font-size: 16px;
}

@keyframes marquee-anim {
    0% {
        transform:  translateX(0px);
    }

    100% {
        transform:  translateX(-880px);
    }
}


.services-info {
    min-height: 1400px;
    background-image: url(../serv-images/bg-serv.webp);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 70px 0 120px;
    overflow: hidden;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
    max-width: 1480px;
    margin: 60px auto 0;
    position: relative;
    z-index: 1;
}

.services-absolute-bg {
    position: absolute;
    bottom: -200px;
    right: -740px;
    z-index: -1;
    max-width: 1000px;
}

.services-grid-item {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.services-grid-item.grid-item-large {
    grid-column: span 3;    
}

.grid-item-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    padding: 0 100px;
    margin-bottom: 20px;
}

.services-grid-item:nth-child(1) .grid-item-header {
    background-image: url(../serv-images/srv-bg-1.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 666px;
    height: 260px;
}

.services-grid-item:nth-child(2) .grid-item-header {
    background-image: url(../serv-images/srv-bg-2.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 680px;
    height: 260px;
}


.services-grid-item:nth-child(3) .grid-item-header {
    background-image: url(../serv-images/srv-bg-3.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 358px;
    height: 236px;
}

.services-grid-item:nth-child(4) .grid-item-header {
    background-image: url(../serv-images/srv-bg-4.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 358px;
    height: 236px;
}

.services-grid-item:nth-child(5) .grid-item-header {
    background-image: url(../serv-images/srv-bg-5.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 358px;
    height: 236px;
}

.grid-item-link {
    width: 400px;
    height: 110px;
    display: flex;
    align-items: center;
    gap: 34px;
    background-image: url(../serv-images/service-item-main.webp);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100% 100%;
    text-decoration: none;
    font-size: 22px;
    background-color: var(--color-transp);    
    backdrop-filter: blur(20px);
    border-radius: 16px;
}

.grid-item-link-text {
    width: 350px;
    height: 70px;
    background-image: url(../serv-images/service-item-inner.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    text-decoration: none;
    background-color: var(--color-transp);
    border-radius: 8px;
    margin-left: -30px;
    transition: text-shadow 200ms ease-in-out, font-weight 200ms ease-in-out;
}

.services-grid-item:nth-child(2) .grid-item-link-text {
    background-image: url(../serv-images/service-item-inner2.png);
}

.services-grid-item:nth-child(3) .grid-item-link-text {
    background-image: url(../serv-images/service-item-inner4.png);
}

.services-grid-item:nth-child(4) .grid-item-link-text {
    background-image: url(../serv-images/service-item-inner4.png);
}

.services-grid-item:nth-child(5) .grid-item-link-text {
    background-image: url(../serv-images/service-item-inner5.png);
}

.grid-item-link-arrows {
    filter: drop-shadow(0px 0px 2px #F74E1B);
    display: flex;
    align-items: center;
}

.grid-item-link-arrows .arrow-hover {
    opacity: 0;
    transform: translateX(-14px);
    transition: 200ms ease-in-out;
}
.grid-item-link:hover .grid-item-link-text {
    text-shadow: 0px 0px 4px;
    font-weight: 600;
}

.grid-item-link:hover .grid-item-link-arrows .arrow-hover {
    opacity: 0.5;
    transform: translateX(-6px);
}

.primary-button:hover {
    color: var(--color-orange);
}

.services-single-road {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 40px;
}

.road-absolute {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
}

.road-absolute img {
    width: 100%;
    max-width: 100%;
}
.linear-rnb-item {
    display: block;
    width: 100%;
    height: 30px;
    background-image: var(--linear-rnb);
}

.services-single-main {
    position: relative;
    min-height: 800px;
    overflow: hidden;
    padding-bottom: 10px;
}

.services-single-main .main-title {
    max-width: 668px;
    text-align: left;
    margin: 100px 0 80px 50px;
    font-size: 48px;
}

.services-single-main .primary-button {
    margin: 66px auto 0 auto;
}

.services-single-main::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 13px;
    background-color: #B956D4;
    bottom: 10px;
    left: 0;
    background: linear-gradient(0deg, #DA52FF 0%, #B956D5 55.62%, #E896FF 121.67%);
    opacity: 0.68;
    z-index: 1;
    filter: blur(2.4px) drop-shadow(0px 0px 6px #B956D4);
}

.serv-light-bg {
    mix-blend-mode: lighten;
    position: absolute;
    z-index: -1;
    left: 0px;
    width: 100vw;
    bottom: 10px;
    opacity: 0.5;
}

.serv-light-bg img {
    width: 100%;
    object-fit: cover;
}

.services-single-road-item {
    width: 360px;
    height: 162px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    border-radius: 20px;
    font-size: 22px;
    line-height: 36px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
}

.services-single-road .chain {
    margin-top: 16px;
    mix-blend-mode: lighten;
}

.services-single-faq {
    position: relative;
    overflow: hidden;
    padding: 160px 0 260px;
}

.faq-tabs {    
    width: 100%;
    min-height: 521px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.faq-tab-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-tab-header {
    padding: 18px 86px 20px 60px;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4.79778px 12px, rgba(255, 255, 255, 0.02) 0px 1px 4.79778px inset;
    backdrop-filter: blur(41.9806px);
    border-width: 1px 1px medium;
    border-style: solid solid none;
    border-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3) currentcolor;
    background-size: 100% 8px;
    background-repeat: no-repeat;
    background-position: center bottom;
    max-width: 792px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    cursor: pointer;
    min-height: 110px;
}

.faq-tab-wrapper.active .faq-tab-header {
    background-color: rgba(255, 255, 255, 0.18);
    background-image: linear-gradient(98.51deg, rgb(134, 253, 210) 0%, rgb(244, 233, 135) 33.3%, rgb(248, 102, 117) 66.6%, rgb(173, 105, 240) 100%);
}

.faq-tab-content {
    position: absolute;
    z-index: 2;
    padding: 18px 86px 20px 60px;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 10px 0 0 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    min-height: 521px;
    width: 100%;
    max-width: calc(((100vw - 1920px)/2) + 1060px);
    display: none;
    flex-direction: column;
    overflow: hidden;
    gap: 30px;
    right: 0px;
    padding-right: 100px;
    top: 160px;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-image: url(../serv-images/faq-tab-bg.gif);
}

.faq-tab-wrapper.active .faq-tab-content {
    display: flex;
}

.faq-tab-title {
    font-size: 32px;
}
.faq-tab-list {
    padding-left: 14px;
}
.faq-tab-list li {
    font-size: 15px;
    line-height: 27px;
}
.fq-contant-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.faq-tab-header svg {    
    filter: drop-shadow(0px 0px 2px #F74E1B);
    min-width: 15px;
}

.consultations-section .container {
    margin-top: 213px;
    max-width: 1626px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 156px;
}

.consultation-info__wrapper {
    width: 100%;
    color: var(--color-white);
    font-size: 16px;
    line-height: 100%;
    display: flex;
    gap: 33px;
}

.consultation-info__wrapper:nth-child(odd) {
    flex-direction: row-reverse;
}

.consultation-info__left-wrapper {
    position: relative;
}

.consultation-info__left {
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 10px;
    box-shadow: 0px 4.79778px 12px rgba(0, 0, 0, 0.25), inset 0px 1px 4.79778px rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 564px;
    position: relative;
    max-width: 352px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    border-bottom: none;
    mix-blend-mode: screen;
}

.consultation-info__left-wrapper video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    left: 0;
    z-index: 2;
}

.consultation-info__gif {
    width: 100%;
    height: 391px;
    background-size: 352px 384px; 
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: -1;
}

.consultation-info__img {
    position: absolute;
    top: -122px;
    left: -30px;
    z-index: 1;
}

.consultation-info__wrapper:nth-child(3) .consultation-info__img {
    top: -107px;
}

.consultation-info__wrapper:nth-child(4) .consultation-info__img {
    left: -60px;
    top: -147px;
}

.consultation-info__employee {
    border-radius: 0px 0px 10px 10px;
    backdrop-filter: blur(20px);
    background-color: rgba(5, 5, 5, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px 16px 33px 16px;
    display: flex;
    height: 179px;
    flex-direction: column;
    position: relative;
    background-image: linear-gradient(98.51deg, #86FDD2 0%, #F4E987 33.3%, #F86675 66.6%, #AD69F0 100%);
    background-size: 100% 10px;
    background-repeat: no-repeat;
    background-position: center bottom;
}


.consultation-info__employee svg {
    align-self: center;
    min-width: 314px;
}

.consultation-info__wrapper:nth-child(3) svg {
    min-height: 26px;
}

.consultation-info__name {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.consultation-info__post {
    font-weight: 400;
    margin: 11px 0 17px 0;
}

.consultation-info__wrapper:nth-child(3) .consultation-info__post {
    margin: 11px 0 30px 0;
}

.consultation-info__wrapper:nth-child(4) .consultation-info__post {
    margin: 11px 0 10px 0;
    max-width: 220px;
}

.consultation-info__position {
    font-size: 14px;
    margin-top: 13px;
    font-weight: 500;
    background: linear-gradient(90deg, #BAA9E0 0%, #EBE6F5 8%, #D0E2DD 86.5%, #AFD2BB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.consultation-info__wrapper:nth-child(3) .consultation-info__position  {
    margin-top: 20px;
}

.consultation-info__right {
    max-width: 1016px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.consultation-info__quote {
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 10px;
    box-shadow: 0px 4.79778px 12px rgba(0, 0, 0, 0.25), inset 0px 1px 4.79778px rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(41.9806px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    padding: 66px;
    display: flex;
    align-self: center;
    justify-content: center;
    line-height: 160%;
    position: relative;
}

.consultation-info__quote h3 {
    font-size: 28px;
    font-weight: 400;
}

.consultation-info__quote svg:first-child {
    position: absolute;
    top: 17px;
    left: 22px;
}

.consultation-info__quote svg:last-child {
    position: absolute;
    bottom: 17px;
    right: 22px;
}

.consultation-info__main {
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 10px;
    box-shadow: 0px 4.79778px 12px rgba(0, 0, 0, 0.25), inset 0px 1px 4.79778px rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(41.9806px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-image: url("data:image/svg+xml,%3Csvg width='490' height='394' viewBox='0 0 490 394' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 179H492.5M0 167.743H492.5M0 156.486H492.5M0 145.229H492.5M0 133.971H492.5M0 122.714H492.5M0 111.457H492.5M0 100.2H492.5M0 88.943H492.5M0 77.6854H492.5M0 66.4285H492.5M0 55.1712H492.5M0 43.9142H492.5M0 32.657H492.5M0 21.4H492.5M0 10.1427H492.5M0 -1.1145H492.5M0 392.886H492.5M0 381.629H492.5M0 370.371H492.5M0 359.114H492.5M0 347.857H492.5M0 336.6H492.5M0 325.343H492.5M0 314.086H492.5M0 302.828H492.5M0 291.571H492.5M0 280.315H492.5M0 269.057H492.5M0 257.8H492.5M0 246.543H492.5M0 235.286H492.5M0 224.029H492.5M0 212.771H492.5M0 201.514H492.5M0 190.257H492.5' stroke='url(%23paint0_linear_4015_126)' stroke-width='0.55'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_4015_126' x1='521' y1='179.451' x2='0' y2='179.451' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.08'/%3E%3Cstop offset='0.18' stop-color='white' stop-opacity='0.0687328'/%3E%3Cstop offset='0.37' stop-color='white' stop-opacity='0.14'/%3E%3Cstop offset='0.880918' stop-color='white' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    padding: 55px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 390px;
}

.consultation-info__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.consultation-info__item {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 814px;
    line-height: 120%;
}

.consultation-info__item::before {
    content: '';
    min-width: 9px;
    width: 9px;
    height: 9px;
    border-radius: 300px;
    background-image: linear-gradient(57.09deg, #4CE425 12.1%, #C7FAAF 93.45%);
}


/* consult-prise section */

.consult-prise-section {
    margin-top: 300px;
    overflow: hidden;
}

.consult-prise-section .container {
    max-width: 1915px;
    width: 100%;
}

.consult-prise-section .subtitle {
    margin-left: 58px;
}

.consult-prise__table-wrapper {
    width: 100%;
    margin-top: 90px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    z-index: 1;
}

.table-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    max-width: 1356px;
    width: calc((100vw - 210px) / 5 * 4);
    height: 66px;
    background-image: linear-gradient(90deg, #2B82B7 0%, #6B2AAE 100%);
}


.consult-prise__table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

.consult-prise__table th {
    padding: 0 84px;
    text-align: center;
}

.consult-prise__table th, .consult-prise__table td {
    font-weight: 600;
    height: 133px;
    text-align: left;
}

.consult-prise__table td  {
    text-align: center;
}

.consult-prise__table tr:first-child th:first-child {
    border-left: none;
}

.consult-prise__table tr:first-child th {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.consult-prise__table:first-child tr:nth-child(2) td, .consult-prise__table tr:nth-child(3) td {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-right: none;
}


.consult-prise__table tr:nth-child(2) td:last-child {
    padding: 0 58px;
    text-align: left;
}

.consult-prise__table tr:nth-child(3) th, .consult-prise__table tr:nth-child(3) td {
    height: 66px;
}

.consult-prise__table tr:nth-child(3) th {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
} 

.consult-prise__table tr:nth-child(3) th, .consult-prise__table tr:nth-child(3) td {
    border-bottom: none;
}

.table-item__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
}

.consult-prise-section .consult-prise__table:nth-child(3) th, .consult-prise-section .consult-prise__table:nth-child(3) td {
    font-weight: 400;
}

.consult-prise-section .consult-prise__table:nth-child(3) td, .consult-prise-section .consult-prise__table:nth-child(4) td {
    padding: 0 54px;
}

.consult-prise-section .consult-prise__table:nth-child(3) tr:nth-child(2) td {
    height: 280px;
} 

.consult-prise-section .consult-prise__table:nth-child(3) tr:nth-child(3) td, .consult-prise-section .consult-prise__table:nth-child(3) tr:nth-child(3) th  {
    height: 250px;
    border: none;
    text-align: left;
} 

.td-flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.consult-prise-section .consult-prise__table:nth-child(3) tr:nth-child(3) td:nth-child(2) {
    text-align: center;
}


.consult-price-mobile {
    display: none;
}

.consult-price-mobile__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.consult-price-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 4px 0;
}

.consult-price-row .head {
    font-size: 16px;
    width: 144px;
    min-width: 144px;
}
.consult-price-row .desc {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.consult-price-row:first-child {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.consult-price-row:first-child .head {
    font-size: 18px;
    font-weight: 600;
    width: 200px;
}
.consult-price-row:first-child .desc {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.gradient-bottom {
    padding: 12px;
    width: 100%;
    text-align: center;
    margin-top: auto;
    font-weight: 600;
    background-image: linear-gradient(90deg, #2B82B7 0%, #6B2AAE 100%);
}

/* consult-roadmap section */

.consult-roadmap-section {
    margin-top: 260px;
    margin-bottom: 200px;
    overflow: hidden;
}

.consult-roadmap-section .container {
    max-width: 1577px;
    position: relative;
    mix-blend-mode: screen;
}

.consult-roadmap-section .subtitle {
    font-size: 32px;
    font-weight: 500;
    margin-left: 30px;
}

.consult-roadmap__info {
    margin-top: 44px;
    padding: 68px 100px 78px 100px;
    max-width: 833px;
    width: 100%;
    background-image: url(../serv-images/consult-bg1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.consult-roadmap__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.consult-roadmap__item {
    font-size: 18px;
    font-weight: 400;
}

.consult-roadmap__item:nth-child(2) {
    max-width: 386px;
}

.consult-roadmap__form {
    position: relative;
    width: 100%;
    max-width: 90vw;
}

.consult-roadmap__forms-wrapper {
    width: 100%;
    display: flex;
    gap: 65px;
}

.consult-roadmap__form-wrapper {
    margin-top: 67px;
    margin-left: 168px;
    background-image: url(../serv-images/consult-bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1020px;
    width: 100%;
    height: 474px;
    padding: 60px 100px 0 146px;
}

.consult-roadmap__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
#main_faq_screen_block_bg_topgr,
#main_reviews_screen_block {
    background-image: none !important;
    background: none !important;
}
.consult-roadmap__form-left {
    width: 100%;
    max-width: 287px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.consult-roadmap__input {
    background-color: rgba(158, 158, 158, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 12px;
    height: 34px;
    box-shadow: 0px 4.79778px 12px rgba(0, 0, 0, 0.25), inset 0px 1px 4.79778px rgba(255, 255, 255, 0.02);
    font-family: var(--font-primary);
    color: var(--color-white);
    font-size: 16px;
    width: 100%;
}

.consult-roadmap__form-right {
    max-width: 400px;
    width: 100%;
}

.consult-roadmap__form-right textarea {
    resize: none;
    height: 157px;
    overflow-y: hidden;
    padding: 18px 33px 10px 22px;
}

.consult-roadmap__form-right textarea::placeholder {
    font-size: 14px;
}

.primary-button {
    font-family: var(--font-primary);
    background-image: url(../serv-images/consult-button-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    padding-top: 8px;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-width: 400px;
    width: 100%;
    height: 85px;
    font-size: 20px;
    transition: 400ms ease-in-out;
    font-weight: 500;
}

.consult-roadmap__form .primary-button {
    position: absolute;
    bottom: -70px;
    right: -20px;
}

.consult-roamap__monitor-decor {
    max-width: 588px;
    width: 100%;
    height: 415px;
    background-image: url(../serv-images/consult-bg2.png), url(../serv-images/consult-roadmap-gifbg.gif);
    background-size: cover, 270px 420px;
    background-position: top left, top 50px left 90px;
    background-repeat: no-repeat;
    mix-blend-mode: screen;
    position: absolute;
    top: -37px;
    left: 864px;
}

.consult-roamap__decor img:first-child {
    position: absolute;
    left: 452px;
    top: 352px;
}

.consult-roamap__decor img:nth-child(2) {
    position: absolute;
    right: 372px;
    top: 351px;
}

.consult-roamap__decor img:nth-child(3) {
    position: absolute;
    left: 869px;
    top: 152px;
}

.banner-section {
    position: relative;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -150px;
    overflow: hidden;
    height: 700px;
}

.banner-gif {
    position: absolute;
    top: 4px;
    width: 100%;
    z-index: 1;
    min-width: 1920px;
}
.banner-bg {
    position: absolute;
    top: 0;
    width: 100%;
    min-width: 1920px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0 auto;

    position: relative;
    z-index: 2;

    max-width: 644px;
    text-align: center;
}

.price-bg {
    background-image: url(../serv-images/price.webp);    
    background-position: top 200px center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}

.consult-bg {
    background-image: url(../serv-images/serv-single-body.webp);    
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 300px;
}
.banner-section.top-minus {
    margin-top: -150px;
}

.road-absolute img:nth-child(2) {
    display: none;
}

.consult-roadmap__info img {
    display: none;
}


@media (min-width: 1980px) {
    body {
        background-color: var(--color-body);
        font-family: var(--font-primary);
        color: var(--color-white);
        background-image: url(../serv-images/bg-group.webp);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100vw;
    }
    
    body.bg-single {
        background-image: url(../serv-images/bg-group.webp), url(../serv-images/serv-single-body.webp);    
        background-position: top center, top 45.45vw center;
        background-repeat: no-repeat, no-repeat;
        background-size: 100vw 45.45vw, 100vw;
    }
    
    .main {
        padding-top: 7.1vw;
    }

    @keyframes marquee-anim {
        0% {
            transform:  translateX(0px);
        }
    
        100% {
            transform:  translateX(-43vw);
        }
    }
    

    .container {
        width: 100vw;
        max-width: 97vw;
        padding: 0 5.56vw;
        margin: 0 auto;
    }
    
    .header-inner {
        padding: 1.21vw 0;
    }
    #top_screen_logo_block {
        margin-left: 5.56vw;
    }
    #top_screen_menu_btn {
        margin-right: 5.56vw;
    }
    .services-absolute-bg {
        position: absolute;
        bottom: -10.1vw; /* -200px */
        right: -37.37vw; /* -740px */
        z-index: -1;
        max-width: 50.51vw; /* 1000px */
        width: 100%;
    }
    
    .banner-content {
        max-width: 40vw;
    }
    .banner-logo {
        width: 14vw;
    }
    .banner-logo.large {
        width: 38vw;
    }
    h1.title, .banner-text {
        font-size: 1.82vw;
        line-height: 1.82vw !important;
        margin-bottom: 1vw;
    }
    .text-small  {
        font-size: 0.9vw;
    }
    .subtitle {
        font-size: 2.42vw;
    }
    
    .services-main-inner {
        padding: 11.62vw 0 14.14vw;
    }
    
    .services-sub-text {
        margin-left: -0.91vw;
    }
    
    .services-siphone {
        max-width: 40.2vw;
        width: 100%;
    }

    .absolute-binary img {
        width: 110vw;
    }

    .breadcrumbs, .breadcrumbs-link {
        font-size: 0.7vw;
        line-height: 1vw;
    }
    
    .marquee-container {
        gap: 1.01vw;
        padding: 0.51vw;
    }
    
    .marquee-container .marquee-logo {
        width: 5.25vw;
        height: auto;
    }
    
    .marquee-text {
        font-size: 0.81vw;
        -webkit-text-stroke: 0.05vw var(--color-orange);
    }
    
    .services-info {
        padding: 3.54vw 0 6.06vw;
    }
    
    .services-grid {
        gap: 3.03vw;
        max-width: 74.75vw;
        margin: 3.03vw auto 0;
    }
    
    .grid-item-link {
        width: 20.2vw;
        height: 5.56vw;
        gap: 1.72vw;
        font-size: 1.11vw;
    }
    
    .grid-item-link-text {
        width: 17.68vw;
        height: 3.54vw;
        margin-left: -1.52vw;
    }
    
    .services-single-main .main-title {
        max-width: 33.74vw;
        margin: 5.05vw 0 4.04vw 2.53vw;
        font-size: 2.42vw;
    }
    
    .services-single-road-item {
        width: 18.18vw;
        height: 8.18vw;
        padding: 2.53vw 1.01vw;
        font-size: 1.11vw;
        line-height: 1.82vw;
    }
    
    .consultations-section .container {
        margin-top: 10.76vw;
        max-width: 82.12vw;
        gap: 7.88vw;
    }
    .services-grid-item:nth-child(1) .grid-item-header {
        width: 33.64vw;
        height: 13.13vw;
    }
    
    .services-grid-item:nth-child(2) .grid-item-header {
        width: 34.34vw;
        height: 13.13vw;
    }
    
    .services-grid-item:nth-child(3) .grid-item-header {
        width: 18.08vw;
        height: 11.92vw;
    }

    .grid-item-header {
        font-size: 1.7vw;
        line-height: 1.8vw;
    }

    .grid-item-link-arrows svg {
        width: 0.7vw;
        height: auto;
    }
    
    .services-grid-item:nth-child(4) .grid-item-header {
        width: 18.08vw;
        height: 11.92vw;
    }
    
    .services-grid-item:nth-child(5) .grid-item-header {
        width: 18.08vw;
        height: 11.92vw;
    }
    .consultation-info__wrapper {
        justify-content: center;
    }
    /* .consultation-info__left {
        max-width: 17.78vw;
        height: 28.48vw;
    }
    
    .consultation-info__quote {
        padding: 3.33vw;
    } */
    
    .consult-prise__table th, .consult-prise__table td {
        width: 17.12vw;
        height: 6.72vw;
    }
    
    .consult-roadmap__info {
        padding: 3.43vw 5.05vw 3.94vw;
        max-width: 42.07vw;
    }
    
    .consult-roadmap__form-wrapper {
        margin-top: 3.38vw;
        margin-left: 8.49vw;
        max-width: 51.52vw;
        height: 23.94vw;
        padding: 3.03vw 5.05vw 0 7.37vw;
    }
    
    .primary-button {
        max-width: 20.2vw;
        height: 4.29vw;
        font-size: 1.01vw;
    }
    
    .banner-section {
        padding-top: 7.58vw;
        height: 35.35vw;
    }
    
    .banner-gif, .banner-bg {
        min-width: 97vw;
    }
}

@media (max-width:1800px) {
    .road-absolute {
        max-width: calc(100% - 60px);
        left: 30px;
    }
    .faq-tab-content {
        max-width: 50vw;
    }
    .faq-tab-header {
        max-width: calc(50vw - 70px);
    }

    .consult-prise__table th {
        padding: 0 3vw;
    }
    .consult-prise__table tr:nth-child(2) td:last-child,
    .consult-prise-section .consult-prise__table:nth-child(3) td, 
    .consult-prise-section .consult-prise__table:nth-child(4) td {
        padding: 0 2vw;
    }
}

@media (max-width: 1540px) {
    .services-grid {
        grid-template-columns: repeat(6, 1fr);
        gap: 60px;
        max-width: 1120px;
    }
    .grid-item-header {
        font-size: 22px;
    }
    .services-grid-item:nth-child(1) .grid-item-header {
        width: 500px;
        height: 195px;
    }
    
    .services-grid-item:nth-child(2) .grid-item-header {
        width: 500px;
        height: 195px;
    }
    
    .services-grid-item:nth-child(3) .grid-item-header {
        width: 270px;
        height: 178px;
    }
    
    .services-grid-item:nth-child(4) .grid-item-header {
        width: 270px;
        height: 178px;
    }
    
    .services-grid-item:nth-child(5) .grid-item-header {
        width: 270px;
        height: 178px;
    }
    
    .grid-item-link {
        width: 300px;
        height: 82px;
        gap: 26px;
        font-size: 16px;
    }
    
    .grid-item-link-text {
        width: 262px;
        height: 53px;
        margin-left: -20px;
    }
    .consult-prise-section {
        margin-top: 50px;
    }
    .container {
        padding: 0 36px;
    }
    .consult-roamap__decor img:nth-child(3) {
        left: 795px;
      }
      .consult-roamap__monitor-decor {
        left: 790px;
        max-width: 450px;
        background-size: 100% 100%, 270px 420px;
      }
      .consult-roamap__decor img:nth-child(2) {
        left: 900px;
      }
}

@media (max-width: 1460px) {
    body {
        background-size: 100% 770px;
    }
    .services-single-main .main-title {
        font-size: 36px;
        margin-bottom: 20px;
        line-height: 42px;
    }
    .services-single-road-item {
        font-size: 17px;
        line-height: 26px;
    }
    .primary-button {
        font-size: 17px;
    }
    .faq-tab-header {
        font-size: 21px;
    }
    .faq-tab-title {
        font-size: 24px;
    }
    .faq-tab-content {
        min-height: 390px;
        top: 230px;
        padding: 30px 66px 20px 40px;
    }
    .services-single-road .chain {
        width: 60px;
    }
    .faq-tab-header {
        min-height: 80px;
    }
    .services-single-faq {
        padding-bottom: 100px;
    }
    .consultations-section .container {
        margin-top: 50px;
    }
    .consultation-info__quote h3 {
        font-size: 21px;
    }
    .consultation-info__item {
        font-size: 12px;
    }
    .consultation-info__main {
        height: 100%;
    }
}

@media (max-width: 1340px) {
    .faq-tab-header {
        max-width: calc(50vw);
    } 
    .consult-roadmap__form-wrapper {
        margin-left: 60px;
    }
}

@media (max-width: 1080px) {
    .logo-flex p {
        display: none;
    }
    .header-inner {
        padding: 52px 0;
    }
    .absolute-binary {
        top: 40px;
    }
    .faq-tab-content {
        border-radius: 10px;
    }
    .services-main-text, .services-sub-text {
        max-width: 45vw;
    }
    .services-siphone {
        max-width: 40vw;
    }
    .services-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 60px;
        max-width: 720px;
    }
    .grid-item-link-arrows svg {
        width: 10px;
        height: 19px;
    }
    .services-grid-item {
        gap: 10px;
    }
    .services-grid-item.grid-item-large {
        grid-column: span 2;
    }
    .tablet-double {
        grid-row: span 2;
    }
    .grid-item-header {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .services-grid-item:nth-child(1) .grid-item-header {
        width: 300px;
        height: 116px;
    }
    
    .services-grid-item:nth-child(2) .grid-item-header {
        width: 300px;
        height: 116px;
    }
    
    .services-grid-item:nth-child(3) .grid-item-header {
        width: 230px;
        height: 150px;
    }
    
    .services-grid-item:nth-child(4) .grid-item-header {
        width: 230px;
        height: 150px;
    }
    
    .services-grid-item:nth-child(5) .grid-item-header {
        width: 230px;
        height: 150px;
    }
    .absolute-binary img {
        height: 120px;
    }
    .consultations-section .container {
        gap: 100px;
    }
    .services-single-main .main-title {
        margin-left: 0;
    }
    .grid-item-link {
        width: 250px;
        height: 72px;
        gap: 20px;
        font-size: 14px;
        border-radius: 12px;
    }
    .consult-prise__table-wrapper,
    .consult-prise__table {
        display: none;
    }
    .consult-prise-section .subtitle {
        margin-left: 0;
        margin-bottom: 60px;
    }
    .consult-price-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .consult-price-row.col {
        flex-direction: column;
    }


    .grid-item-link-text {
        width: 220px;
        height: 35px;
        margin-left: -16px;
        border-radius: 4px;
    }
    .services-main-inner {
        padding-top: 120px;
    }
    .services-absolute-bg {
        bottom: -180px;
        right: -250px;
        max-width: 500px;
    }
    .services-grid-item:nth-child(1) .grid-item-link-text {
        background-image: url(../serv-images/service-item-inner2.png);
    }
    .services-grid-item:nth-child(2) .grid-item-link-text {
        background-image: url(../serv-images/service-item-inner2.png);
    }
    
    .services-grid-item:nth-child(3) .grid-item-link-text {
        background-image: url(../serv-images/service-item-inner.png);
    }
    
    .services-grid-item:nth-child(4) .grid-item-link-text {
        background-image: url(../serv-images/service-item-inner4.png);
    }
    
    .services-grid-item:nth-child(5) .grid-item-link-text {
        background-image: url(../serv-images/service-item-inner4.png);
    }
    .services-single-road .chain {
        display: none;
    }
    .services-single-road {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-items: center;
        max-width: 600px;
        margin: 0 auto;
    }
    .faq-tab-content {
        position: static;
        width: 100%;
        max-width: 100%;
    }
    .faq-tab-header {
        max-width: 100%;
        width: 100%;
    }
    .faq-tabs {
        justify-content: flex-start;
    }
    .services-single-faq {
        padding-top: 60px;
    }
    .road-absolute {
        max-width: 100%;
        left: 30px;
        top: 20px;
        width: calc(100% - 60px);
    }
    .road-absolute img {
        width: 90%;
        height: 120px;
        margin: 0 auto;
    }
    .road-absolute img:first-child {
        display: none;
    }
    .road-absolute img:nth-child(2) {
        display: block;
    }
    .services-single-road-item {
        max-width: 360px;
        width: 100%;
        padding: 20px;
        height: 126px;
    }
    .linear-rnb-item {
        height: 65px;
    }
    .consultation-info__quote {
        padding: 34px 50px;
    }
    .consultation-info__quote h3 {
        font-size: 14px;
        line-height: 18px;
    }
    .consultation-info__quote svg {
        width: 21px;
        height: auto;
    }
    .consultation-info__main {
        padding: 30px 30px;
    }
    .consultation-info__wrapper {
        gap: 12px;
    }
    .consult-roamap__decor img:first-child {
        left: 100px;
        top: 766px;
    }
    .consult-roadmap__form-wrapper {
        background-position: top center;
        padding: 40px 40px 0;
    }
    .consult-roamap__monitor-decor {
        position: static;
        max-width: 500px;
    }
    .consult-roamap__decor img:nth-child(2) {
        top: 766px;
        left: 300px;
    }
    .consult-roamap__decor img:nth-child(3) {
        transform: rotate(90deg);
        left: 280px;
        top: 196px;
        width: 38px;
    }
    .consult-price-mobile {
        gap: 40px 30px;
    }
    .consult-roadmap-section .subtitle {
        margin-left: 0;
    }
    .subtitle {
        font-size: 38px;
    }
    .consult-roadmap__form {
        display: flex;
        justify-content: center;
    }
    .consult-roadmap__form-wrapper {
        margin-left: -40px;
        min-width: 1120px;
        display: flex;
    }
    .consult-roadmap__forms-wrapper {
        max-width: 700px;
        width: 100%;
    }
    .consult-roadmap__form .primary-button {
        bottom: 100px;
        right: 30px;
    }
    .consult-roadmap__form-left {
        max-width: 250px;
    }
    .consult-roadmap__form-right {
        max-width: 300px;
    }
    .consult-roadmap-section {
        margin-top: 100px;
    }
}

@media (max-width: 768px) {
    .services-siphone {
        max-width: 62vw;
        left: 10%;
    }
    .services-main-inner {
        padding: 120px 0 50vw;
    }
    .call-flex {
        display: none;
    }
    .consultation-info__employee {
        backdrop-filter: none;
    }
    body {
        background-size: 100% 800px;
    }
    .services-info {
        background-image: url(../serv-images/bg-mob.webp);
    }

    .banner-section {
        height: 320px;
    }
    .consult-roadmap__info {
        background-size: 100% 100%;
        position: relative;
        padding: 68px 40px 80px 50px;
    }
    .consult-roamap__decor img:first-child,
    .consult-roamap__decor img:nth-child(2) {
        top: auto;
        bottom: 798px;
    }
    .consult-roamap__decor img:nth-child(3) {
        display: none;
    }
    .consult-roadmap__info img {
        display: block;
        transform: rotate(90deg);
        left: 145px;
        bottom: -80px;
        width: 21px;
        position: absolute;
    }
    .consult-roamap__monitor-decor {
        margin-top: -20px;
        background-position: top left, top 40px left 30px;
        background-size: 100% 100%, 260px 410px;
    }
}

@media (max-width: 700px) {
    .container {
        padding: 0 24px;
    }
    .consult-roamap__decor img:first-child {
        left: 60px;
    }
    .consult-roamap__decor img:nth-child(2) {
        left: 200px;
    }
    .consult-roadmap__form-wrapper {
        height: 800px;
        min-width: 800px;
    }
    .consult-roadmap__forms-wrapper {
        flex-direction: column;
    }
    .consult-roadmap__form .primary-button {
        left: 30%;
        bottom: 150px;
    }
    .consult-roadmap__form-left,
    .consult-roadmap__form-right {
        max-width: 100%;
    }
    
    .subtitle,
    .consult-roadmap-section .subtitle {
        font-size: 22px;
    } 
    .consult-price-mobile {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .consult-price-row:first-child .head {
        width: 170px;
        font-size: 16px;
    }
    .banner-text {
        font-size: 18px;
    }
    .consultation-info__left-wrapper {
        display: flex;
        justify-content: center;
    }
    .consultation-info__img,
    .consultation-info__wrapper:nth-child(4) .consultation-info__img {
        left: auto;
    }
    .consultation-info__wrapper:nth-child(2n+1),
    .consultation-info__wrapper {
        flex-direction: column;
    }
    .primary-button {
        max-width: 300px;
        width: 100%;
        height: 64px;
    }
    .services-siphone {
        max-width: 75vw;
        left: 8%;
        bottom: 20px;
    }
    .services-main-inner {
        padding-bottom: 70vw;
    }
    .faq-tab-header {
        font-size: 18px;
        padding: 20px;
    }
    .faq-tab-title {
        font-size: 18px;
    }
    .faq-tab-content {
        padding: 20px 30px;
        gap: 20px;
    }
    .services-grid-item:nth-child(2) .grid-item-link-text {
        background-image: url(../serv-images/service-item-inner.png);
    }
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        max-width: 100%;
        padding-bottom: 240px;
    }

    .banner-logo.large {
        max-width: 90vw;
    }

    .services-absolute-bg {
        bottom: -220px;
        right: -300px;
        max-width: 550px;
    }

    .services-main-inner {
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 100%;
    }

    .services-main-text {
        max-width: 54vw;
        margin-right: auto;
    }

    .services-sub-text {
        max-width: 65vw;
    }
    .banner-section {
        padding-top: 80px;
    }
    .banner-gif,
    .banner-bg {
        min-width: 1100px;
    }
    #main_first_screen_ini_block_soc {
        display: none;
    }
}

@media (max-width: 500px) {
    .consult-roadmap__form .primary-button {
        left: 10%;
    }
    .breadcrumbs, .breadcrumbs-link {
        font-size: 12px;
    }
    .consultations-section  {
        overflow: hidden;
    }
}
